$fondomain: red;
$color2: blue;
$formacion: center;

body{
    background-color: $fondomain;
    display: flex;
    justify-content: center;
h1 {
    color: lightgreen;
    text-align: $formacion;
    text-transform: uppercase;
    background-color: $color2;
    font-size: 45px;
    text-decoration: underline;
    text-decoration-color: wheat;
}
}
